Source: wazo-confd-client
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.7

Package: wazo-confd-client-python3
Architecture: all
Section: python
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-requests,
         python3-stevedore,
         wazo-lib-rest-client-python3
Description: wazo-confd client library - Python 3
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
